body{
    background-image: url("leone-venter-VieM9BdZKFo-unsplash.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
}
.form-rounded {
  margin-top: 20px;
  border-radius: 1rem;
  }
@font-face { font-family: RealMadridFont2014; src: url('RealMadridFont2014.ttf'); } 
.incorrect { 
    color: red; 
  } 
  .res{
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
  }
  .hh{
    margin-top: 50px;
    font-family: Roboto,sans-serif;
    font-size: 300px;
  }
  #texttotype{
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
  }
    
  .correct { 
    color: green; 
  } 